<button
  [type]="type"
  [disabled]="disabled || loading"
  [class]="buttonClasses"
  (click)="onButtonClick($event)"
  [attr.aria-label]="iconOnly ? icon : undefined"
>
  <div *ngIf="loading" class="button__spinner" aria-hidden="true">
    <svg
      class="button__spinner-svg"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-dasharray="31.416"
        stroke-dashoffset="31.416"
      >
        <animate
          attributeName="stroke-dasharray"
          dur="2s"
          values="0 31.416;15.708 15.708;0 31.416"
          repeatCount="indefinite"
        />
        <animate
          attributeName="stroke-dashoffset"
          dur="2s"
          values="0;-15.708;-31.416"
          repeatCount="indefinite"
        />
      </circle>
    </svg>
  </div>
  <fa-icon
    *ngIf="icon && iconPosition === 'left' && !loading"
    [icon]="icon"
    [class]="getIconSizeClass() + ' button__icon--left'"
    aria-hidden="true"
  ></fa-icon>
  <span *ngIf="!iconOnly" class="button__text">
    <ng-content></ng-content>
  </span>
  <fa-icon
    *ngIf="icon && iconPosition === 'right' && !loading"
    [icon]="icon"
    [class]="getIconSizeClass() + ' button__icon--right'"
    aria-hidden="true"
  ></fa-icon>
  <fa-icon
    *ngIf="icon && iconOnly && !loading"
    [icon]="icon"
    [class]="getIconSizeClass()"
    aria-hidden="true"
  ></fa-icon>
</button>
