<article class="product-card">
  <div class="product-card__icon" aria-hidden="true">
    <fa-icon [icon]="getIcon()" class="fa-xl"></fa-icon>
  </div>

  <div class="product-card__content">
    <h3 class="product-card__title">{{ data.title }}</h3>
    <p class="product-card__description">{{ data.description }}</p>
    <ul
      class="product-card__features"
      aria-label="Características del producto"
    >
      <li *ngFor="let feature of data.features" class="product-card__feature">
        <fa-icon [icon]="faCheck" class="product-card__feature-icon"></fa-icon>
        <span class="product-card__feature-text">{{ feature }}</span>
      </li>
    </ul>
  </div>

  <div class="product-card__action">
    <app-button [variant]="getButtonVariant()" (click)="onLearnMore.emit()">
      Más información
    </app-button>
  </div>
</article>
